body {
    margin: 0;
    padding: 0;
    background-color: #202C37;
}

.container {
    width: 90%;
}

.countryCard {
    border-radius: 5px;
    box-shadow: 1px 1px 8px -0.5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    color: white;
    background-color: #2B3945;
}

.countries {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.visited {
    padding: 8px 12px;
    border-radius: 5px;
    border: dashed;
    background-color: #41AB5D;
    border: 0;
    color: white;
    font-weight: 800;
}

.visited:hover {
    background-color: #238B45;
}

.not-visited {
    padding: 8px 12px;
    border-radius: 5px;
    border: dashed;
    background-color: #FFEA00;
    border: 0;
    color: #793205;
    font-weight: 800;
}

.not-visited:hover {
    background-color: #FDDA0D;
}