body {
    margin: 0;
    padding: 0;
    background-color: #202C37;
}

.container {
    width: 90%;
}

.countryCard {
    border-radius: 5px;
    box-shadow: 1px 1px 8px -0.5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    color: white;
    background-color: #2B3945;
}

.countries {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}